{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        {{#if avatar_url}}
            <img src="{{avatar_url}}" alt="{{username}}'s avatar">
        {{else}}
            <img src="/avatar/{{username}}" alt="{{username}}'s avatar">
        {{/if}}
    </div>
    <div class="post-content preserve-newlines">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Posted by {{username}} on {{timestamp}}</p>
        <div class="post-status-bar">
            <span>Likes: {{likes}}</span>
            <button data-id="{{id}}" class="like-button" onclick="handleLikeClick(event)">
                {{#if (includes likedBy ../user.username)}}Unlike{{else}}Like{{/if}}
            </button>
            {{#ifCond username user.username}}
                <button data-id="{{id}}" class="delete-button" onclick="handleDeleteClick(event)"><i class="fas fa-trash-alt"></i></button>
            {{/ifCond}}
        </div>        
    </div>
</div>

<script>
    async function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');

        try {
            const response = await fetch(`/like/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                window.location.reload();
            } else {
                console.error('Failed to like/unlike post');
            }
        } catch (error) {
            console.error('Error liking/unliking post:', error);
        }
    }

    async function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');        

        try {
            const response = await fetch(`/delete/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                window.location.reload();
            } else {
                console.error('Failed to delete post');
            }
        } catch (error) {
            console.error('Error deleting post:', error);
        }
    }
</script>
