{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <img src="/avatar/{{username}}" alt="{{username}}'s Avatar">
    </div>
    <div class="post-content preserve-newlines">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <div class="post-status-bar">
            <span>{{timestamp}}</span>
            <span>{{likes}} ♥</span>
            {{#ifCond username ../user.username}}
                <button class="delete-button" data-id="{{id}}" onclick="handleDeleteClick(event)">Delete</button>
            {{else}}
                {{#unless (includes likedBy ../user.username)}}
                    <button class="like-button" data-id="{{id}}" onclick="handleLikeClick(event)">Like</button>
                {{/unless}}
            {{/ifCond}}
        </div>        
    </div>
</div>
<script>
    function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');
        fetch(`/like/${postId}`, { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to like the post.');
                }
            });
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');
        fetch(`/delete/${postId}`, { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error('Failed to delete the post.');
                }
            });
    }
</script>
