{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <img src="/avatar/{{user.username}}" alt="{{user.username}}'s Avatar">
    </div>
    <section class="profile-info">
        <h2>{{user.username}}</h2>
        <p>Member since: {{user.memberSince}}</p>
    </section>
</div>

<section class="user-posts">
    <h2>Your Posts</h2>
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                {{> post this}}
            {{/each}}
        </ul>
    {{else}}
        <p>You have not posted yet.</p>
    {{/if}}
</section>
